
services:
  app:   
    image: pms90/docker-integradora:v1.0.0
    restart: always
    ports:
      - "3000:3000"
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=root
      - MYSQL_PASSWORD=integradorapassword
      - MYSQL_DB=integradora
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=integradorapassword
      - MYSQL_DATABASE=integradora
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network:
